# History files
.Rhistory
.Rapp.history
# ignore everything in the data folder
data/
not_synced/

# ignore figures in docs
doc/*/figure-html/
doc/*.md

# DS Store
.DS_Store
info.svx

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# targets
_targets/

# html
*.html

# renv via capsule
renv/

# renv's .Rprofile setup
.Rprofile

# outputs folder
outputs/

# Rmarkdown intermediate files
**/*_files/*

# ignore zip file
*.zip